<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>them km</title>
    <link rel="stylesheet" href="resources/css/header.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
  </head>
  <body>
    <div class="header">
      <div class="menu">
        <div class="logo">
          <a href="../../"><img src="https://www.w3schools.com/images/w3schools_green.jpg" alt="Logo shop"></a>
        </div>
      </div>
    </div>
<form  action="" method="post" enctype="application/x-www-form-urlencoded">
  id sản phẩm khuyến mãi: <br/>
  <input type="number" name="txt_idsp" placeholder="idsp"/><br/>
  poster khuyến mãi:<br/>
  <input type="text" name="txt_poster" placeholder="poster"/><br/>
  link nội dung khuyến mãi:<br/>
  <input type="text" name="txt_linknd" placeholder="linknd"/><br/>
  giá khuyến mãi:<br/>
  <input type="number" name="txt_gia" placeholder="gia"/><br/>
  ngày kết thúc khuyến mãi:<br/>
  <input type="date" name="txt_ngaykt" placeholder="ngaykt"/><br/>
  <input type="submit" name="them km" onclick="alert('Đã thêm khuyến mãi thành công!')" value="thêm"/>
</form>
  </body>
</html>
